*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.posters img{
 height: 400px;
 margin-top: 10px;
 
}
.posters img:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}
